[user]
	name = j-walker23
	email = john.walker.dev@gmail.com
[mergetool]
	keepBackup = true
	keepTemporaries = false
	prompt = false
[merge]
	conflictstyle = diff3
	ff = no
	tool = p4merge
[core]
	excludesfile = /Users/john/.gitignore_global
	autocrlf = input
[push]
	default = current
[credential]
	helper = osxkeychain
[color]
	ui = auto
[github]
	user = j-walker23
	token = f9a781dedcd24ddd28275cd5e2d3c61988d6fdbd
